 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    #app #main #scroll-container #content {
        padding: 0 !important;
    }

    #project-list-page, #skills-page {
        margin: 0 10px !important;
    }

    #filter-container #filter-dropdown {
        width: 110px !important;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 768px) {
    #navbar {
        position: absolute !important;
        margin-left: -250px;

        button#navbar-close {
            display: flex !important;
        }
    }

    button#navbar-open {
        display: flex !important;
    }

    #project-details-container {
        top: 20px !important;
        left: 20px !important;
        right: 20px !important;
        bottom: 20px !important;
    }

    #about-container {
        width: 100% !important;

        #about-info {

            .about-content {
                flex-direction: column !important;

                #paragraph-1, #paragraph-2 {
                    width: 100% !important;
                }

                #paragraph-2 {
                    margin: 0 !important;
                }
            }
        }
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    #navbar {
        margin-left: 0 !important;
    }
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (max-width: 1200px) {
    #app {

    }

    button#previous,
    button#next {
        opacity: 1 !important;
    }

    #about-container {
        flex-direction: column !important;
        align-items: center;

        #about-info {

            .about-content {
                max-width: 100% !important;
            }
        }
    }


    #project-description-container {
        display: none !important;
    }

    #preview-container {
        width: 100% !important;

        .project-details-header {
            display: flex !important;
        }

        img#preview-image {
            max-height: calc(100% - 150px);
            width: auto;
            max-width: 100%;
        }

        #screenshots-preview-container {
            display: flex !important;
        }
    }
 } 